// Override default variables before the import
// you can open the bootstrap.scss module and check any available variables.
$primary: #181818;
$primaryComplement: #1c1c1c;
$secondary: #42ca9f;
$success: #3e8d63;
$info: #7854e4;
$warning: #b8c924;
$danger: #ff7d7d;
$light: #f8f9fa;
$dark: #343a40;
$gray: #aaaaaa;
$darkGray: #222222;

$lighterGreen: #48edb9;

//custom color to be mapped
$accent: #da6d25;

// this is used to map colors. change accordingly.
$theme-colors: (
	primary: $primary,
	secondary: $secondary,
	primaryComplement: $primaryComplement,
	success: $success,
	info: $info,
	warning: $warning,
	danger: $danger,
	light: $light,
	dark: $dark,
	gray: $gray,
	darkGray: $darkGray,
	accent: $accent,
	lighterGreen: $lighterGreen,
);

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
